/* Navbar.css */

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color:red;
    color: white;
  }
  
  .company-name {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .search-bar {
    flex: 0.5;
    margin: 0 15px;
    padding: 5px;
    font-size: 1rem;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
    gap: 15px;
  }
  
  .nav-links li a {
    color: white;
    text-decoration: none;
  }
  
  .nav-links li a:hover {
    text-decoration: underline;
  }
  
  /* Media Queries for Responsiveness */
  @media (max-width: 768px) {
    .navbar {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .search-bar {
      margin: 10px 0;
      width: 100%;
    }
  
    .nav-links {
      flex-direction: column;
      width: 100%;
      text-align: center;
    }
  }
  /* ////////////////////////////// */

.navbar-2 {
    background-color:black;
    padding: 10px;
    text-align: center;
  }
  
  .nav-links-2 {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
  }
  
  .nav-links-2 li {
    margin-right: 20px;
  }
  
  .nav-links-2 a {
    color: #fff;
    text-decoration: none;
  }
  